@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse;
}



@media screen and (max-width: 1023px) {
  .Nav-Start {
    width: auto;
  }
}

.scroll-to-top {
  position: fixed;
  align-self: flex-end;
  bottom: 20px;
  right: 20px;
  background-color: oklch(0.723 0.219 149.579);
  color: #000;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 30px !important;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination-bullet-active {
  background-color: oklch(0.627 0.194 149.214) !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid oklch(0.627 0.194 149.214);
}

/* 
 
*/
