@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse;
}



@media screen and (max-width: 1023px) {
  .Nav-Start {
    width: auto;
  }
}

.scroll-to-top {
  position: fixed;
  align-self: flex-end;
  bottom: 20px;
  right: 20px;
  background-color: oklch(0.723 0.219 149.579);
  color: #000;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 30px !important;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination-bullet-active {
  background-color: oklch(0.627 0.194 149.214) !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid oklch(0.627 0.194 149.214);
}

.portfolio-item {
  position: relative;
  overflow: hidden;
}

.portfolio-item img {
  transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover img {
  transform: scale(1.05);
}

.portfolio-item .portfolio-info {
  background-color: rgba(255, 255, 255, 0.8); 
  position: absolute;
  left: 30px; 
  right: 30px;
  bottom: 0;
  opacity: 0;
  padding: 15px;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.8);
}

.portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px; 
}

.portfolio-info h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  padding-right: 50px; 
}

.portfolio-info p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  padding-right: 50px; 
}

.portfolio-info .preview-link,
.portfolio-info .details-link {
  position: relative;
  font-size: 24px;
  transition: color 0.3s;
}

.portfolio-info .preview-link:hover,
.portfolio-info .details-link:hover {
  color: var(--accent-color);
}

.portfolio-info .details-link {
  margin-left: 10px; 
}

@media (max-width: 768px) {
  .portfolio-item .portfolio-info {
    left: 15px;
    right: 15px;
    padding: 10px;
  }

  .portfolio-info h4 {
    font-size: 16px;
  }

  .portfolio-info p {
    font-size: 12px;
    padding-right: 40px;
  }

  .portfolio-info .preview-link,
  .portfolio-info .details-link {
    font-size: 20px;
  }

  .portfolio-info .details-link {
    margin-left: 8px;
  }
}

@media (max-width: 576px) {
  .portfolio-item .portfolio-info {
    left: 10px;
    right: 10px;
    padding: 8px;
  }

  .portfolio-info h4 {
    font-size: 14px;
  }

  .portfolio-info p {
    font-size: 10px;
    padding-right: 30px;
  }

  .portfolio-info .preview-link,
  .portfolio-info .details-link {
    font-size: 18px;
  }

  .portfolio-info .details-link {
    margin-left: 6px;
  }
}
