/* @keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse;
}
.bg-accent {
  background-color: var(--accent-color);
}
.text-contrast {
  color: var(--contrast-color);
}
.text-accent {
  color: var(--accent-color);
}
 */

@media screen and (max-width: 1023px) {
  .Nav-Start {
    width: auto;
  }
}

.scroll-to-top {
  position: fixed;
  align-self: flex-end;
  bottom: 20px;
  right: 20px;
  background-color: #16a34a;
  color: #000;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}


/*  */